@model IEnumerable<SchoolOfScience.Models.StudentProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Student Profiles</h2>

@using (Html.BeginForm())
{
    <fieldset class="collapse">
        <legend>Search by Filter (Click to expand)</legend>
        <div class="filter">
            <div class="filter-field">
                <label for="career">Academic Career:</label>
                @Html.DropDownList("career", ViewBag.careerList as IEnumerable<SelectListItem>, "All", null)
                <label for="academic_group">Academic Group:</label>
                @*@Html.DropDownList("academic_group", ViewBag.groupList as IEnumerable<SelectListItem>, "All", null)
                <label for="academic_organization">Department:</label>*@
                @Html.DropDownList("academic_organization", ViewBag.departmentList as IEnumerable<SelectListItem>, "All", null)
                <label for="academic_plan_description">Academic Plan:</label>
                @Html.DropDownList("academic_plan_description", ViewBag.planList as IEnumerable<SelectListItem>, "All", null)
                <label for="academic_level">Academic Level:</label>
                @Html.DropDownList("academic_level", ViewBag.levelList as IEnumerable<SelectListItem>, "All", null)
            </div>
            <div class="filter-field">
                <label for="studentid">Student ID:</label>
                @Html.TextBox("studentid", ViewBag.studentid as String)
                <label for="firstname">First Name:</label>
                @Html.TextBox("firstname", ViewBag.firstname as String)
                <label for="lastname">Last Name:</label>
                @Html.TextBox("lastname", ViewBag.lastname as String)
            </div>
            <div class="filter-field">
                <label for="commentkeyword">Advising Comment Keyword:</label>
                @Html.TextBox("commentkeyword", ViewBag.commentkeyword as String)
            </div>
            @if (User.IsInRole("FacultyAdvisor"))
            {
            <div class="filter-field">
                <label for="advisor">As Pre-major Faculty Advisor:</label>
                @Html.CheckBox("advisor")
                <label for="mentor">As Faculty Mentor:</label>
                @Html.CheckBox("mentor")
            </div>
            }

            <div class="filter-field">
                <input type="submit" value="Search" />
                <input type="reset" class="button" value="Reset" />
            </div>
        </div>
    </fieldset>
}

@if (User.IsInRole("FacultyAdvisor"))
{
    <p>
        View as: 
        @Html.ActionLink("Pre-major Faculty Advisor", "MyStudent", new { advisor = true }, new { id = "advisor-link" }) | 
        @Html.ActionLink("Faculty Mentor", "MyStudent", new { mentor = true }, new { id = "mentor-link" }) | 
        @Html.ActionLink("All", "MyStudent", null, new { id = "all-link" })
    </p>
} 

@if (ViewBag.showTable)
{
<table class="data-table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            Department
        </th>
        <th>
            Academic Plan
        </th>
        <th>
            Academic Level
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.ActionLink(item.id.ToString(), "Details", "StudentProfile", new { id = item.id }, new { @class = "student-link" })</strong>
        </td>
        <td>
            <strong>@Html.ActionLink(item.name, "Details", "StudentProfile", new { id = item.id }, new { @class = "student-link" })</strong>
        </td>
        <td>
            <a href="mailto:@Html.DisplayFor(modelItem => item.email)" target="_blank">@Html.DisplayFor(modelItem => item.email)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academic_organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academic_plan_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academic_level)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "student-link" })
        </td>
    </tr>
}
    </tbody>
</table>
}

@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable({
                "sScrollX": "100%",
                "iDisplayLength": 100
            });

            $(".student-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#student-profile-dialog");
            });

            $("input[type=reset]").click(function (e) {
                e.preventDefault();
                $(".filter select").val('');
                $(".filter input[type=text]").val('');
                $(".filter input[type=checkbox]").prop("checked", false);
            });
        });
    </script>
}
