@model IEnumerable<SchoolOfScience.Models.Notification>

@{
    ViewBag.Title = "Index";
}

<h2>Notification Management</h2>

@using (Html.BeginForm())
{
    <fieldset class="startCollapse">
        <legend>Search by Filter (Click to expand)</legend>
        <div class="filter">
            <div class="filter-field">
                <label for="notification_type">Notification Type:</label>
                @Html.DropDownList("notification_type", ViewBag.NotificationTypeList as IEnumerable<SelectListItem>, "All", null)
            </div>
            <div class="filter-field">
                <label for="notification_status">Notification Status:</label>
                @Html.DropDownList("notification_status", ViewBag.NotificationStatusList as IEnumerable<SelectListItem>, "All", null)
            </div>
            <div class="clear-fix"></div>
            <div class="filter-field">
                <input type="submit" value="Search" />
                <input type="reset" value="Reset" />
            </div>
        </div>
    </fieldset>
}

@if (Model.Count() > 0)
{
<table class="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.send_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationStatus.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationType.name)
            </th>
            <th>
                TO Recipient
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="@if (item.id == ViewBag.highlight_id) { <text>highlight</text> }">
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.send_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationStatus.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationType.name)
            </td>
            <td>
                @foreach (var recipient in item.NotificationRecipients.Where(r => r.recipient_type == "to"))
                {
                    <div>@Html.DisplayFor(modelItem => recipient.email)</div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modified)<br />
                [@Html.DisplayFor(modelItem => item.modified_by)]
            </td>
            <td>
                <ul class="action-list">
                    <li>
                        @Html.ActionLink("Edit", "Edit", new { id=item.id })
                    </li>
                    <li>
                        @Html.ActionLink("Details", "Details", new { id=item.id })
                    </li>
                    <li>
                        @Html.ActionLink("Delete", "Delete", new { id=item.id }) 
                    </li>
                    @if (!item.NotificationStatus.sent) {
                    <li>
                        @Html.ActionLink("Send", "Send", new { id = item.id })
                    </li>
                    }
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>
}
@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable({
                "sScrollX": "100%",
                "aaSorting": [[7, "desc"]]
            });

            $("input[type=reset]").click(function (e) {
                e.preventDefault();
                $(".filter select").val('');
                $(".filter input[type=text]").val('');
                $(".filter input[type=checkbox]").attr("checked", false);
            });
        });
    </script>
}