@model IEnumerable<SchoolOfScience.Models.Interview>
@{
    Layout = null;
}

<style>
    br {
        mso-data-placement: same-cell;
    }
    td {
        vertical-align: middle;
    }
</style>

<table>
    <tr>
        <th>interview_id</th>
        <th>application_id</th>
        <th>Date</th>
        <th>Time</th>
        <th>Venue</th>
        <th>Program</th>
        <th>Applicant</th>
        <th>Academic Level</th>
        <th>CGPA</th>
        <th>Advising Comment</th>
        <th>Application Comment</th>
        <th>Previous Interview Comment</th>
        <th>comment</th>
    </tr>
    @foreach(var interview in Model)
    {
        foreach(var application in interview.Applications)
        {
        <tr>
            <td>@interview.id</td>
            <td>@application.id</td>
            <td>@String.Format("{0:yyyy-MM-dd (ddd)}", interview.start_time)</td>
            <td>@(String.Format("{0:HH:mm}", interview.start_time) + " - " + String.Format("{0:HH:mm}", interview.end_time))</td>
            <td>@interview.InterviewVenue.name</td>
            <td>@interview.Program.name</td>
            <td>@(application.StudentProfile.name + " " + application.StudentProfile.id + "[" + application.StudentProfile.academic_organization + "]")</td>
            <td>@application.StudentProfile.academic_level</td>
            <td>
            @if (application.StudentProfile.StudentAdmission != null)
            {
               @application.StudentProfile.StudentAdmission.Cumulative_GPA
            } 
            else
            {
                @("N/A")
            }
            </td>
            <td>
                @foreach (var advisingremark in application.StudentProfile.StudentAdvisingRemarks.Where(a => !a.@private))
                {
                    <br />
                    <strong>@("[" + String.Format("{0:yyyy-MM-dd}", advisingremark.modified) + " " + advisingremark.modified_by + "] ")</strong>
                    <br />
                    @advisingremark.text
                    <br />
                }
            </td>
            <td>
                @foreach (var previous_application in application.StudentProfile.Applications.Where(a => a.ApplicationComments.Count() > 0))
                {
                    <br />
                    <strong>@(previous_application.Program.name)</strong>
                    <br />
                    foreach (var comment in previous_application.ApplicationComments)
                    {
                        @("[" + String.Format("{0:yyyy-MM-dd}", comment.modified) + " " + comment.modified_by + "] ")
                        <br />
                        @comment.comment
                        <br />
                    }
                }
            </td>
            <td>
                @foreach (var previous_application in application.StudentProfile.Applications.Where(a => a.InterviewComments.Count() > 0))
                {
                    <br />
                    <strong>@(previous_application.Program.name)</strong>
                    <br />
                    foreach (var comment in previous_application.InterviewComments)
                    {
                        @("[" + String.Format("{0:yyyy-MM-dd}", comment.modified) + " " + comment.modified_by + "] ")
                        <br />
                        @comment.comment
                        <br />
                    }
                }
            </td>
            <td>
            </td>
        </tr>
        }
    }
</table>