@model SchoolOfScience.Models.InterviewStatus

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InterviewStatus</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.display_to_student)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.display_to_student)
            @Html.ValidationMessageFor(model => model.display_to_student)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.notification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.notification)
            @Html.ValidationMessageFor(model => model.notification)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.default_status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.default_status)
            @Html.ValidationMessageFor(model => model.default_status)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
