<div class="dashboard-wrapper">
    <div class="dashboard-item">
        <a href="@Url.Action("Index", "Program")">
            <img src="@Url.Content("~/Images/Dashboard/program.png")" />
            <p><strong>Enrichment Programs</strong></p>
        </a>
    </div>
    <div class="dashboard-item">
        <a href="@Url.Action("Booking", "Appointment")">
            <img src="@Url.Content("~/Images/Dashboard/advising.png")" />
            <p><strong>Advising Appointment</strong></p>
        </a>
    </div>
    @*<div class="dashboard-item">
        <a href="@Url.Action("ComingSoon", "Home")">
            <img src="@Url.Content("~/Images/Dashboard/advising.png")" />
            <p><strong>Advising Appointment</strong></p>
        </a>
    </div>*@
    <div class="dashboard-item">
        <a href="@Url.Action("Index", "StudentProfile")">
            <img src="@Url.Content("~/Images/Dashboard/profile.png")" />
            <p><strong>Student Profile</strong></p>
        </a>
    </div>
    <div class="clear-fix"></div>
</div>