@{
    Layout = null;
    IEnumerable<SchoolOfScience.Models.ProgramType> programTypes = ViewBag.programTypes;
}


		<ul class="sf-menu" id="menu">
			<li class="current">
				@Html.ActionLink("Home", "Index", "Home")
			</li>
			<li>
				@Html.ActionLink("Enrichment Programs", "Showcase", "Program")
				<ul>
                    <li>
                        @Html.ActionLink("View Program List", "", null, new { onclick = "return false;" })
                        <ul>
                            <li>@Html.ActionLink("All Programs", "Showall", "Program", new { id = 0 }, null)</li>
                            @foreach (var programType in programTypes)
                            {
                                <li>@Html.ActionLink(programType.name, "Showall", "Program", new { id = programType.id }, null)</li>
                            }
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Manage My Applications", "", null, new { onclick = "return false;" })
                        <ul>
                            <li>@Html.ActionLink("My Applications", "Record", "Application", new { id = 0 }, null)</li>
                            <li>@Html.ActionLink("My Interviews", "Record", "Application", new { id = 1 }, null)</li>
                            <li>@Html.ActionLink("My Consultations", "Record", "Application", new { id = 2 }, null)</li>
                        </ul>
                    </li>
				</ul>
			</li>
            @*<li>@Html.ActionLink("Advising Appointment", "Booking", "Appointment")
                <ul>
                    <li>@Html.ActionLink("My Appointments", "MyAppointment", "Appointment")</li>
                </ul>
            </li>*@
			<li>@Html.ActionLink("Advising Appointment", "ComingSoon", "Home")
			</li>
			<li>
				@Html.ActionLink("My Profile", "MyProfile", "StudentProfile")
			</li>	
		</ul>
