@{
    Layout = null;
}


		<ul class="sf-menu" id="menu">
			<li class="current">
				@Html.ActionLink("Dashboard", "Index", "Home")
			</li>
			<li>
				@Html.ActionLink("Enrichment Programs", "Index", "Program")
				<ul>
					<li>
						@Html.ActionLink("Programs", "Index", "Program")
						<ul>
							<li>@Html.ActionLink("Create New", "Create", "Program")</li>
						</ul>
					</li>
					<li>
						@Html.ActionLink("Applications", "Index", "Application")
					</li>
					<li>
						@Html.ActionLink("Interviews", "Index", "Interview")
						<ul>
                            <li>@Html.ActionLink("Create Timeslots", "CreateMultiple", "Interview")</li>
                            <li>@Html.ActionLink("Assign Applications", "AssignMultiple", "Interview")</li>
                            <li>@Html.ActionLink("Import Comments", "Import", "InterviewComment")</li>
						</ul>
					</li>
                    <li>
                        @Html.ActionLink("Consultations", "Index", "Appointment", new { consultation = true }, null)
                        <ul>
                            <li>@Html.ActionLink("Create Timeslots", "CreateMultiple", "Appointment", new { consultation = true }, null)</li>
                        </ul>
                    </li>
				</ul>
			</li>
			@*<li>@Html.ActionLink("Advising Appointment", "Index", "Appointment")
				<ul>
                    <li>@Html.ActionLink("Create Timeslots", "CreateMultiple", "Appointment")</li>
				</ul>
			</li>*@
			<li>@Html.ActionLink("Advising Appointment", "ComingSoon", "Home")
			</li>
			<li>
				@Html.ActionLink("Student Profile", "Index", "StudentProfile")
                <ul>
                    <li>@Html.ActionLink("Import Student Activities", "Import", "StudentActivity")</li>
                </ul>
			</li>		
			<li>
				@Html.ActionLink("Notification", "Index", "Notification")
			</li>
            <li>
                @Html.ActionLink("Configuration", "", null, new { onclick = "return false;" })
                <ul>
			        <li>
				        @Html.ActionLink("User Role", "Index", "UserProfile")
			        </li>
                    <li>
                        @Html.ActionLink("Program", "", null, new { onclick = "return false;" })
			            <ul>
							<li>@Html.ActionLink("Edit Type", "Index", "ProgramType")</li>
							<li>@Html.ActionLink("Edit Status", "Index", "ProgramStatus")</li>
                            <li>@Html.ActionLink("Exchange Destinations", "Index", "ExchangeOption")</li>
			            </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Application", "", null, new { onclick = "return false;" })
			            <ul>
							<li>@Html.ActionLink("Edit Status", "Index", "ApplicationStatus")</li>
			            </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Interview", "", null, new { onclick = "return false;" })
			            <ul>
                            <li>@Html.ActionLink("Edit Status", "Index", "InterviewStatus")</li>
                            <li>@Html.ActionLink("Edit Venue", "Index", "InterviewVenue")</li>
			            </ul>
                    </li>
					<li>
						@Html.ActionLink("Nominations", "", null, new { onclick = "return false;" })
						<ul>
                            <li>@Html.ActionLink("Edit Status", "Index", "NominationStatus")</li>
						</ul>
					</li>
                    <li>
                        @Html.ActionLink("Appointment", "", null, new { onclick = "return false;" })
			            <ul>
                            <li>@Html.ActionLink("Edit Host", "Index", "AppointmentHost")</li>
                            <li>@Html.ActionLink("Edit Status", "Index", "AppointmentStatus")</li>
                            <li>@Html.ActionLink("Edit Concern", "Index", "AppointmentConcern")</li>
                            <li>@Html.ActionLink("Edit Venue", "Index", "AppointmentVenue")</li>
			            </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Notification", "", null, new { onclick = "return false;" })
			            <ul>
                            <li>@Html.ActionLink("Edit Status", "Index", "NotificationStatus")</li>
			                <li>@Html.ActionLink("Edit Type", "Index", "NotificationType")</li>
			                <li>@Html.ActionLink("Edit Template", "Index", "NotificationTemplate")</li>
			            </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Student Profile", "", null, new { onclick = "return false;" })
			            <ul>
			                <li>@Html.ActionLink("Edit Particular Type", "Index", "StudentParticularType")</li>
			                <li>@Html.ActionLink("Edit Experience Type", "Index", "StudentExperienceType")</li>
			            </ul>
                    </li>
                </ul>
            </li>
		</ul>
