@{
    Layout = null;
}


		<ul class="sf-menu" id="menu">
			<li class="current">
				@Html.ActionLink("Dashboard", "Index", "Home")
			</li>
			<li>
				@Html.ActionLink("Enrichment Programs", "Index", "Program")
				<ul>
					<li>
						@Html.ActionLink("Programs", "Index", "Program")
						<ul>
							<li>@Html.ActionLink("Create New", "Create", "Program")</li>
						</ul>
					</li>
					<li>
						@Html.ActionLink("Applications", "Index", "Application")
					</li>
				</ul>
			</li>
			<li>
				@Html.ActionLink("Student Profile", "MyStudent", "StudentProfile")
			</li>	
		</ul>
