@model IEnumerable<SchoolOfScience.Models.ProgramStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Program Status Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="data-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.draft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shown_to_student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.open_for_application)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.default_status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.draft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shown_to_student)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.open_for_application)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.default_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) | 
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}
    </tbody>

</table>


@section Scripts {
    <script>
        $(".data-table").dataTable();
    </script>
}