@model IEnumerable<SchoolOfScience.Models.Program>

<table class="data-table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Program Name
            </th>
            <th>
                Current Status
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.name
            </td>
            <td>
                @item.ProgramStatus.name
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="clear-fix"></div>
@using (Html.BeginForm("BatchUpdate", "Program", FormMethod.Post, new { id = "form" }))
{
    @Html.Hidden("items", ViewBag.items as String)
    <p>
        <label for="status_id">Change Status to</label>
        @Html.DropDownList("status_id", ViewBag.statusList as SelectList)
    </p>

    <p>
        <input type="submit" value="Update" id="batch-update-btn" />
    </p>
}

<script>
    $(function () {
        $(".data-table").dataTable({
            "bFilter": false,
            "bLengthChange": false,
            "bPaginate" : false,
            "bInfo": false,
            "bRetrieve": true
        });

        $("#batch-update-btn").click(function (e) {
            e.preventDefault();
            $.ajax({
                cache: false,
                url: $("#form").prop("action"),
                type: "POST",
                data: $("#form").serializeArray(),
                error: function (jqXHR, status, error) {
                    $("#dialog3").dialog("close");
                    $("#error-dialog").dialog({
                        width: 350,
                        height: 100,
                        overflow: "auto",
                        modal: true,
                        resizable: false,
                        draggable: false,
                        open: function () {
                            $(this).scrollTop(0);
                            $('.ui-widget-overlay').hide().fadeIn();
                        },
                        show: {
                            effect: 'fade',
                            duration: 200
                        },
                        hide: {
                            effect: 'fade',
                            duration: 100
                        }
                    }).html(error);
                },
                success: function (result) {
                    $("#dialog3").dialog("close");
                    $("#filter-form").submit();
                }
            })
        });
    });
</script>