@model SchoolOfScience.Models.NominationStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NominationStatus</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shortlisted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nominated)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
