@model SchoolOfScience.Models.ViewModels.AppointmentHostViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AppointmentHost</legend>

        @Html.HiddenFor(model => model.host.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.host.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.host.name)
            @Html.ValidationMessageFor(model => model.host.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.host.default_venue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.host.default_venue)
            @Html.ValidationMessageFor(model => model.host.default_venue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.host.booking)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.host.booking)
            @Html.ValidationMessageFor(model => model.host.booking)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.host.advisor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.host.advisor)
            @Html.ValidationMessageFor(model => model.host.advisor)
        </div>

        <div class="editor-label">
            Assigned Users
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.userids, ViewBag.userList as MultiSelectList, new { @class = "chosen" })
            @Html.ValidationMessageFor(model => model.userids)
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            var i = $(".user-wrapper").length;

            $(".remove-btn").click(function () {
                $(this).siblings("select").val("0");
                //$(this).parent().css("display", "none");
            });

            $(".add-btn").click( function () {
                $.ajax({
                    url: "@Url.Action("AssignUserDropdown", "AppointmentHost")",
                    data: { index: i, id: "@Model.host.id" },
                    cache: false,
                    error: function (jqXHR, status, error) {
                        $("#error-dialog").html(error).dialog({
                            width: 200,
                            height: 100,
                            overflow: "auto",
                            modal: true,
                            resizable: false,
                            draggable: false,
                            open: function () {
                                $(this).scrollTop(0);
                                $('.ui-widget-overlay').hide().fadeIn().bind('click', function () {
                                    $('#error-dialog').dialog('close');
                                });
                            },
                            show: {
                                effect: 'fade',
                                duration: 200
                            },
                            hide: {
                                effect: 'fade',
                                duration: 100
                            }
                        });
                    },
                    success: function (result) {
                        $(".users-wrapper").append(result);
                        i++;
                    }
                });
            });
        });
    </script>
}
