@model IEnumerable<SchoolOfScience.Models.AppointmentHost>

@{
    ViewBag.Title = "Index";
}

<h2>Appointment Host Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    </tbody>
</table>


@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable();
        });
    </script>
}

