@model SchoolOfScience.Models.NotificationTemplate

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NotificationTemplate</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.type_id, "NotificationType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("type_id", String.Empty)
            @Html.ValidationMessageFor(model => model.type_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sender)
            @Html.ValidationMessageFor(model => model.sender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cc)
            @Html.ValidationMessageFor(model => model.cc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.bcc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.bcc)
            @Html.ValidationMessageFor(model => model.bcc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.subject)
            @Html.ValidationMessageFor(model => model.subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.body, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.body)
        </div>

        <div class="clear-fix"></div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<fieldset>
    <legend>Variables List</legend>
    <table class="data-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Replaced to</th>
                <th>Used In Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>[student id]</td>
                <td>Student ID</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                        <li>
                            AppointmentReserved
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[student name]</td>
                <td>Student Name</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                        <li>
                            AppointmentReserved
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[application id]</td>
                <td>Application ID</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[program id]</td>
                <td>Program ID</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ProgramPublished
                        </li>
                        <li>
                            ProgramDeadlindReminder
                        </li>
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[program name]</td>
                <td>Program Name</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ProgramPublished
                        </li>
                        <li>
                            ProgramDeadlindReminder
                        </li>
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[program period]</td>
                <td>Program Period</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ProgramPublished
                        </li>
                        <li>
                            ProgramDeadlindReminder
                        </li>
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[program deadline]</td>
                <td>Program Application Deadline</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ProgramPublished
                        </li>
                        <li>
                            ProgramDeadlindReminder
                        </li>
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[program directlink]</td>
                <td>Program Direct Link</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ProgramPublished
                        </li>
                        <li>
                            ProgramDeadlindReminder
                        </li>
                        <li>
                            ApplicationSavedReminder
                        </li>
                        <li>
                            ApplicationSubmitted
                        </li>
                        <li>
                            InterviewAssigned
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[submit date]</td>
                <td>Date of Submission</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationSubmitted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[interview date]</td>
                <td>Date of Interview</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            InterviewAssigned
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[interview time]</td>
                <td>Time of Interview</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            InterviewAssigned
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[interview venue]</td>
                <td>Venue of Interview</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            InterviewAssigned
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[appointment date]</td>
                <td>Date of Interview</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            AppointmentReserved
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[appointment time]</td>
                <td>Time of Appointment</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            AppointmentReserved
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[appointment venue]</td>
                <td>Venue of Appointment</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            AppointmentReserved
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[appointment concern]</td>
                <td>Appointment Concerns</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            AppointmentReserved
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[ical]</td>
                <td>Interview/Appointment Calendar File Link</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            InterviewAssigned
                        </li>
                        <li>
                            AppointmentReserved
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[nominator]</td>
                <td>Nominator ITSCID</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[nomination listname]</td>
                <td>Display Name of Nomination List</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[nomination start date]</td>
                <td>Nomination Start Date</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[nomination end date]</td>
                <td>Nomination End Date</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[nomination quota]</td>
                <td>Nomination Quota</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[nomination remarks]</td>
                <td>Nomination Remarks</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[nomination directlink]</td>
                <td>Nomination Directlink</td>
                <td>
                    <ul class="template-type-list">
                        <li>
                            ApplicationNominated
                        </li>
                        <li>
                            NominationShortlisted
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(".data-table").dataTable({
        "sScrollX": "100%",
        "bInfo": false,
        "bFilter": true,
        "bPaginate": false
    });
</script>
}
