@model SchoolOfScience.Models.ViewModels.AppointmentBookingViewModel

@{
    Layout = null;
}
<h2>
    Advising Appointment
</h2>
<p class="booking-info">
    Host: @Model.host.name<br />
    Date: @String.Format("{0:yyyy-MM-dd (ddd)}", Model.appointment.start_time)<br />
    Time: @String.Format("{0:HH:mm}", Model.appointment.start_time) to @String.Format("{0:HH:mm}", Model.appointment.end_time)<br />
    Venue: @Model.appointment.venue
</p>
<p>
   Please specify your area of concern: 
</p>
@using (Html.BeginForm("BookingConfirm", "Appointment", FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(model => model.host_id)
    @Html.HiddenFor(model => model.appointment_id)
<p>
    @Html.ListBoxFor(model => model.concern_ids, new MultiSelectList(Model.concernList, "id", "name"), new { @class = "chosen" })
    @Html.ValidationMessageFor(model => model.concern_ids)
    <br />
    Others:<br />
    @Html.EditorFor(model => model.other_concern)
    @Html.ValidationMessageFor(model => model.other_concern)
</p>
}
<p>
    <button id="booking-back">Back</button>
    <button id="booking-next">Next</button>
</p>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("button").button();

        $("button#booking-next").click(function (e) {
            e.preventDefault();
            if ($("#form").valid()) {
                $.ajax({
                    cache: false,
                    url: "@Url.Action("BookingConfirm", "Appointment")",
                    type: "POST",
                    data: $("#form").serializeArray(),
                    error: function (jqXHR, status, error) {
                        $("#error-dialog").dialog({
                            width: 350,
                            height: 100,
                            overflow: "auto",
                            modal: true,
                            resizable: false,
                            draggable: false,
                            open: function () {
                                $(this).scrollTop(0);
                                $('.ui-widget-overlay').hide().fadeIn();
                            },
                            show: {
                                effect: 'fade',
                                duration: 200
                            },
                            hide: {
                                effect: 'fade',
                                duration: 100
                            }
                        }).html(error);
                    },
                    success: function (result) {
                        $("#appointment-booking-dialog").html(result);
                    }
                });
            } else {
                $(".input-validation-error").first().focus();
            }
        });

        $("button#booking-back").click(function (e) {
            e.preventDefault();
            $.ajax({
                cache: false,
                url: "@Url.Action("Booking2", "Appointment")",
                type: "POST",
                data: $("#form").serializeArray(),
                error: function (jqXHR, status, error) {
                    $("#error-dialog").dialog({
                        width: 350,
                        height: 100,
                        overflow: "auto",
                        modal: true,
                        resizable: false,
                        draggable: false,
                        open: function () {
                            $(this).scrollTop(0);
                            $('.ui-widget-overlay').hide().fadeIn();
                        },
                        show: {
                            effect: 'fade',
                            duration: 200
                        },
                        hide: {
                            effect: 'fade',
                            duration: 100
                        }
                    }).html(error);
                },
                success: function (result) {
                    $("#appointment-booking-dialog").html(result);
                }
            });
        });

        $(".chosen").chosen({

        });
    });
</script>
