@model SchoolOfScience.Models.ViewModels.AppointmentCreateMultipleViewModel

@{
    Layout = null;
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Appointment", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Appointment</legend>

        @Html.HiddenFor(model => model.appointment.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.appointment.start_time)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.appointment.start_time, "{0:yyyy-MM-dd HH:mm}", new { @class = "datetime-picker" })
            @Html.ValidationMessageFor(model => model.appointment.start_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.duration)
            @Html.ValidationMessageFor(model => model.duration)
        </div>
        
        <div class="editor-label">
            Conerns
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.concerns, ViewBag.concernList as MultiSelectList, new { @class = "chosen" })
            @Html.ValidationMessageFor(model => model.concerns)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.appointment.host_id, "Host")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.appointment.host_id, ViewBag.hostList as SelectList, string.Empty)
            @Html.ValidationMessageFor(model => model.appointment.host_id)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.appointment.venue, "Venue")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.appointment.venue)
            @Html.ValidationMessageFor(model => model.appointment.venue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.appointment.status_id, "Status")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.appointment.status_id, ViewBag.statusList as SelectList)
            @Html.ValidationMessageFor(model => model.appointment.status_id)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.appointment.student_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.appointment.student_id)
            @Html.ValidationMessageFor(model => model.appointment.student_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.appointment.remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.appointment.remarks)
            @Html.ValidationMessageFor(model => model.appointment.remarks)
        </div>

        <p>
            <input type="submit" id="save-btn" value="Save" />
        </p>
    </fieldset>
}


    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $(".chosen").chosen();

            $("#appointment_host_id").change(function () {
                $.ajax({
                    url: "@Url.Action("GetDefaultVenue", "Appointment")/" + $(this).val(),
                    cache: false,
                    error: function (jqXHR, status, error) {
                        $("#error-dialog").html(error).dialog({
                            width: 200,
                            height: 100,
                            overflow: "auto",
                            modal: true,
                            resizable: false,
                            draggable: false,
                            open: function () {
                                $(this).scrollTop(0);
                                $('.ui-widget-overlay').hide().fadeIn().bind('click', function () {
                                    $('#error-dialog').dialog('close');
                                });
                            },
                            show: {
                                effect: 'fade',
                                duration: 200
                            },
                            hide: {
                                effect: 'fade',
                                duration: 100
                            }
                        });
                    },
                    success: function (result) {
                        $("#appointment_venue").val(result);
                    }
                });
            });

            $("#save-btn").click(function (e) {
                e.preventDefault();
                if ($("#form").valid()) {
                    $.ajax({
                        cache: false,
                        url: $("#form").prop("action"),
                        type: "POST",
                        data: $("#form").serializeArray(),
                        error: function (jqXHR, status, error) {
                            $("#appointment-manage-dialog").dialog("close");
                            $("#error-dialog").dialog({
                                width: 350,
                                height: 100,
                                overflow: "auto",
                                modal: true,
                                resizable: false,
                                draggable: false,
                                open: function () {
                                    $(this).scrollTop(0);
                                    $('.ui-widget-overlay').hide().fadeIn();
                                },
                                show: {
                                    effect: 'fade',
                                    duration: 200
                                },
                                hide: {
                                    effect: 'fade',
                                    duration: 100
                                }
                            }).html(error);
                        },
                        success: function (result) {
                            $("#appointment-manage-dialog").dialog("close");
                            $("#filter-form").submit();
                        }
                    })
                } else {
                    $(".input-validation-error").first().focus();
                }
            });
        });
    </script>
