@model SchoolOfScience.Models.Appointment

@{
    Layout = null;
}


<p class="booking-info">
    
    <b>Date:</b> @String.Format("{0:yyyy-MM-dd (ddd)}", Model.start_time)<br />
    <b>Time:</b> @String.Format("{0:HH:mm}", Model.start_time) to @String.Format("{0:HH:mm}", Model.end_time)<br />
    <b>Venue:</b> @Model.venue<br />
    @if (Model.AppointmentConcerns != null && Model.AppointmentConcerns.Count() > 0)
    {
        <text><b>Concerns:</b> @String.Join(", ", Model.AppointmentConcerns.Select(c => c.name).ToArray())<br /></text>
    }
    @if (Model.student_id != null)
    {
       <b>Reserved by:</b> <strong>@Html.DisplayFor(modelItem => Model.StudentProfile.name) @Html.ActionLink(Model.StudentProfile.id.ToString(), "Details", "StudentProfile", new { id = Model.StudentProfile.id }, new { @class = "student-link" })</strong> <text>[@(Html.DisplayFor(modelItem => Model.StudentProfile.academic_organization))]</text>
    }
</p>
<p>
    @Html.ActionLink("Edit", "Edit", "Appointment", new { id = Model.id }, null)
</p>

<script>
    $(function () {
        $(".student-link").click(function (e) {
            e.preventDefault();
            showDialog($(this).prop("href"), "#error-dialog", "#student-profile-dialog");
        });
    });
</script>