@model IEnumerable<SchoolOfScience.Models.Appointment>

@{
    ViewBag.Title = "Index";
}


<div class="showcase-title">
    <img src="~/Images/Dashboard/advising.png" />
@if (ViewBag.consultation)
{
    <h2>Consultation Appointments</h2>
}
else
{
    <h2>Advising Appointments</h2>
}
</div>

@if (ViewBag.host != null)
{
<p>
    <button type="button" id="calendar-btn">Calendar View</button>
</p>
}

@using (Html.BeginForm("Index", "Appointment", FormMethod.Post, new { id = "filter-form" }))
{
    string style = "startCollapse";
    if (User.IsInRole("ProgramAdmin"))
    {
        style = "collapse";
    }
    <fieldset class="@style">
        <legend>Search by Filter (Click to expand)</legend>
        <div class="filter">
            <div class="filter-field">
                <label for="concern">Concern:</label>
                @Html.DropDownList("concern", ViewBag.concernList as IEnumerable<SelectListItem>, "All", null)
            </div>
            <div class="filter-field">
                <label for="host">Host:</label>
                @Html.DropDownList("host", ViewBag.hostList as IEnumerable<SelectListItem>, "All", null)
            </div>
            <div class="filter-field">
                <label for="status">Status:</label>
                @Html.DropDownList("status", ViewBag.statusList as IEnumerable<SelectListItem>, "All", null)
            </div>
            <div class="filter-field">
                <label for="startdate">Date from:</label>
                @Html.TextBox("startdate", null, new { @class = "date-picker" })
                <label for="enddate"> to:</label>
                @Html.TextBox("enddate", null, new { @class = "date-picker" })
            </div>
            <div class="filter-field">
                @if (User.IsInRole("Admin") || User.IsInRole("Advising") || User.IsInRole("StudentDevelopment"))
                {
                    <label for="consultation">Consultation:</label>
                    @Html.CheckBox("consultation")
                } 
                    <label for="reserved">Reserved:</label>
                    @Html.CheckBox("reserved")
                    <label for="available">Open for Booking:</label>
                    @Html.CheckBox("available")
                    <label for="past">Include Expired:</label>
                    @Html.CheckBox("past")
            </div>
            @if (User.IsInRole("FacultyAdvisor"))
            {
            <div class="filter-field">
                <label for="advisor">As Pre-major Faculty Advisor:</label>
                @Html.CheckBox("advisor")
                <label for="mentor">As Faculty Mentor:</label>
                @Html.CheckBox("mentor")
            </div>
            }

            <div class="filter-field">
                <input type="submit" value="Search" />
                <input type="reset" value="Reset" />
            </div>
        </div>
    </fieldset>
}

@if (User.IsInRole("FacultyAdvisor"))
{
    <p>
        View as: 
        @Html.ActionLink("Pre-major Faculty Advisor", "Index", new { advisor = true }, new { id = "advisor-link" }) | 
        @Html.ActionLink("Faculty Mentor", "Index", new { mentor = true }, new { id = "mentor-link" }) | 
        @Html.ActionLink("All", "Index", null, new { id = "all-link" })
    </p>
} 

<table class="data-table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAll"/>
            </th>
            <th>
                ID
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Venue
            </th>
            @if (!User.IsInRole("FacultyAdvisor"))
            {
            <th>
                Host
            </th>
            }
            <th>
                Student
            </th>
            <th>
                Academic Plan
            </th>
            <th>
                Concerns
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" class="checkItem" value="@item.id"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @String.Format("{0:yyyy-MM-dd (ddd)}", item.start_time)
            </td>
            <td>
                @String.Format("{0:HH:mm}", item.start_time) - @String.Format("{0:HH:mm}", item.end_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue)
            </td>
            @if (!User.IsInRole("FacultyAdvisor"))
            {
            <td>
                <a href="@Url.Action("HostCalendar", "Appointment", new { item.host_id })" class="calendar-link">@Html.DisplayFor(modelItem => item.AppointmentHost.name)</a>
            </td>
            }
            <td>
                @if (item.StudentProfile != null)
                {
                <strong>@Html.DisplayFor(modelItem => item.StudentProfile.name) <br />@Html.ActionLink(item.StudentProfile.id.ToString(), "Details", "StudentProfile", new { id = item.StudentProfile.id }, new { @class = "student-link" })</strong><text>[@(Html.DisplayFor(modelItem => item.StudentProfile.academic_organization))]</text>
                }
            </td>
            <td>
                @if (item.StudentProfile != null)
                {
                    @Html.DisplayFor(modelItem => item.StudentProfile.academic_plan_description)
                }
            </td>
            <td>
                @foreach (var concern in item.AppointmentConcerns)
                {
                    if (concern.program_id != null)
                    {
                        <div>@Html.ActionLink(concern.Program.name, "Details", "Program", new { id = concern.program_id }, new { @class = "program-details-link" })</div>
                    }
                    else
                    {
                        if (!concern.custom)
                        {
                        <div>@Html.DisplayFor(modelItem => concern.name)</div>
                        }
                        else
                        {
                        <div title="@Html.DisplayFor(modelItem => concern.name)">Others</div>
                        }
                    }
                }
            </td>
            <td>
                <ul class="action-list">
                    <li>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "appointment-edit-link" }) 
                    </li>
                    @if (item.student_id == null)
                    {
                    <li>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "appointment-delete-link" }) 
                    </li>
                    }
                    else
                    {
                    <li>
                        @Html.ActionLink("Cancel", "Cancel", new { id = item.id })
                    </li>
                    }
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="clear-fix"></div>

<p>
    <button type="button" id="batch-btn">Batch Delete</button>
</p>


@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable({
                "aaSorting": [[2, "asc"],[3, "asc"]],
                "bPaginate": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] }]
            });

            $(".program-details-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#program-details-dialog");
            });

            $(".student-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#student-profile-dialog");
            });

            $(".calendar-link").click(function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#calendar-dialog", 900, 600);
            });

            $(".appointment-edit-link, .appointment-delete-link, .appointment-cancel-link").click(function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#appointment-manage-dialog", 900, 600);
            });



            @if (ViewBag.host != null)
            {
                <text>
                    $("#calendar-btn").click(function (e) {
                        e.preventDefault();
                        showDialog("@Url.Action("HostCalendar", "Appointment", new { host_id = ViewBag.host.id })", "#error-dialog", "#calendar-dialog", 900, 600);
                    });
                </text>
            }


            $("#checkAll").click(function () {
                $(".checkItem").attr("checked", $(this).is(":checked"));
            });

            $("#batch-btn").click( function (e) {
                e.preventDefault();
                var items = $(".checkItem:checked").map(function () { return $(this).val() }).get();
                var url = "@Html.Raw(Url.Action("BatchDelete", "Appointment", new { items = "replaceItems" }))";
                url = url.replace("replaceItems", items.join('_'));
                showDialog(url, "#error-dialog", "#batch-action-dialog");
            });

            $("input[type=reset]").click(function (e) {
                e.preventDefault();
                $(".filter select").val('');
                $(".filter input[type=text]").val('');
                $(".filter input[type=checkbox]").attr("checked", false);
            });

            $("#advisor-link").click(function (e) {
                e.preventDefault();
                $("#advisor").prop("checked", true);
                $("#mentor").prop("checked", false);
                $("#reserved").prop("checked", true);
                $("#filter-form").submit();
            });

            $("#mentor-link").click(function (e) {
                e.preventDefault();
                $("#advisor").prop("checked", false);
                $("#mentor").prop("checked", true);
                $("#reserved").prop("checked", true);
                $("#filter-form").submit();
            });

            $("#all-link").click(function (e) {
                e.preventDefault();
                $("#advisor").prop("checked", false);
                $("#mentor").prop("checked", false);
                $("#filter-form").submit();
            });
        });
    </script>
}


