@model IEnumerable<SchoolOfScience.Models.SystemUser>

@{
    ViewBag.Title = "ProgramAdminList";
}

<h2>ProgramAdmin Management</h2>

<table class="data-table">
    <thead>
        <tr>
            <th>
                UserId
            </th>
            <th>
                UserName
            </th>
            <th>
                Hosts Managed
            </th>
            <th>
                Student Academic Plans
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.UserId
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    @foreach (var host in user.AppointmentHosts)
                    {
                        <div>@host.name</div>
                    }
                </td>
                <td>
                    @foreach (var plan in user.UserProfileAcademicPlans)
                    {
                        <div>@plan.academic_plan</div>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProgramAdmin", new { userid = user.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable();
        });
    </script>
}
