@model IEnumerable<SchoolOfScience.Models.AppointmentConcern>

@{
    ViewBag.Title = "Index";
}

<h2>Appointment Concern Management</h2>


<h3>Advising Appointment Concern</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Where(m => m.program_id == null)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="clear-fix"></div>

<h3>Program Appointment Concern</h3>
<table class="data-table2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.program_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Where(m => m.program_id != null)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink(item.Program.name, "Details", "Program", new { id = item.program_id }, new { @class = "program-details-link" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    </tbody>
</table>


@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable();
            $(".data-table2").dataTable();

            $(".program-details-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#dialog1");
            });
        });
    </script>
}

