@model IEnumerable<SchoolOfScience.Models.Application>

@{
    ViewBag.Title = "Index";
}

<div class="showcase-title">
    <img src="~/Images/Dashboard/program.png" />
    <h2>Enrichent Programs</h2>
    @*<div class="remarks">
        Only eligible programs will be displayed on this page. Click @Html.ActionLink("here", "Showall", "Program") to show all programs instead.
    </div>*@
</div>

<h2>Current Active Applications</h2>

<table class="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Program.ProgramType.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Program.ProgramType.name)
            </td>
            <td>
                @Html.ActionLink(item.Program.name, "Details", "Program", new { id = item.program_id }, new { @class = "program-details-link" })
                @if (!String.IsNullOrEmpty(item.Program.job_position))
                {
                    <br />
                    <div class="program-note">
                    @("[" + item.Program.job_position + "]")
                    @if (!String.IsNullOrEmpty(item.Program.host_name))
                    {
                        <br />
                        @("[" + item.Program.host_name + "]")
                    }
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus.name)
            </td>
            <td>
                @String.Format("{0:yyyy-MM-dd HH:ss}", item.modified)
            </td>
            <td>
                @if (item.status_id == 1)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "edit-link" }) <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "delete-link" })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "details-link" }) 
                }
            </td>
        </tr>
    }
    </tbody>

</table>



@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable({
                "aaSorting": [[3, "desc"]]
            });

            $(".edit-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#dialog1");
            });

            $(".details-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#dialog1");
            });

            $(".delete-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#dialog1");
            });

            $(".program-details-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#dialog1");
            });
        });
    </script>
}
