@model IEnumerable<SchoolOfScience.Models.ProgramAction>

<div class="showcase-title">
    <img src="~/Images/Dashboard/program.png" />
    <h2>Enrichment Programs</h2>
    @*<div class="remarks">
        Only eligible programs will be displayed on this page. Click @Html.ActionLink("here", "Showall", "Program") to show all programs instead.
    </div>*@
</div>

<h2>@ViewBag.title</h2>

<div class="showcase-note">Date Format: Year-Month-Day</div>

<div class="clear-fix"></div>

<table class="data-table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Program
            </th>
            <th>
                Program Period
            </th>
            <th>
            @if (ViewBag.title != "My Applications")
            {
                @ViewBag.title
            } else {   
                <text>Deadline</text>
            }
            </th>
            <th>
                Application Status
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.program.ProgramType.name, "Showall", "Program", new { id = item.program.ProgramType.id }, null)
            </td>
            <td>
                @Html.ActionLink(item.program.name, "Details", "Program", new { id = item.program.id }, new { @class = "program-details-link program-name", title = "View Program Details" })
                <div class="program-note">
                    <div>
                    @if (!String.IsNullOrEmpty(item.program.job_position))
                    {
                        @(item.program.job_position)
                    }
                    </div>
                    <div>
                    @if (!String.IsNullOrEmpty(item.program.host_name))
                    {
                        if (!String.IsNullOrEmpty(item.program.website))
                        {
                            <a href="@(item.program.website)" target="_blank" title="@(item.program.website)">@(item.program.host_name)</a>
                        }
                        else
                        {
                            @(item.program.host_name)
                        }
                    }
                    </div>
                </div>
            </td>
            <td>
                @String.Format("{0:yyyy-MM-dd (ddd)}", item.program.start_time)
            </td>
            <td>
            @if (ViewBag.title == "My Appointments")
            {
                foreach (var appointment in item.application.StudentProfile.Appointments.Where(o => o.AppointmentConcerns.Any(c => c.program_id == item.program.id)))
                {
                    <div>@String.Format("{0:yyyy-MM-dd (ddd)}", appointment.start_time)</div>
                    <div>@String.Format("{0:HH:mm}", appointment.start_time) - @String.Format("{0:HH:mm}", appointment.end_time)</div>
                    <div>@appointment.AppointmentVenue.name</div>
                }
            } else if (ViewBag.title == "My Interviews")
            {
                foreach (var interview in item.application.Interviews)
                {
                    <div>@String.Format("{0:yyyy-MM-dd (ddd)}", interview.start_time)</div>
                    <div>@String.Format("{0:HH:mm}", interview.start_time) - @String.Format("{0:HH:mm}", interview.end_time)</div>
                    <div>@interview.InterviewVenue.name</div>
                }
            } else {
                @String.Format("{0:yyyy-MM-dd (ddd)}", item.program.application_end_time)
            }
            </td>
            <td>
                @item.application.ApplicationStatus.name
            </td>
            <td style="white-space:nowrap;">
            @if (item.eligible)
            {
                if (item.inperiod && item.open)
                {
                    if (item.existed)
                    {
                        if (item.saved)
                        {
                            <div class="action-wrapper">
                                @*<label>Application @Html.DisplayFor(modelItem => item.application.ApplicationStatus.name)</label>*@
                                <a href="@Url.Action("Edit", "Application", new { id = item.application.id })" class = "action-link" title = "Edit My Application"><img src="@Url.Content("~/Images/Action/edit.gif")" /></a>
                                @*@Html.ActionLink("[ Edit My Application ]", "Edit", "Application", new { id = item.application.id }, new { @class = "action-link", title = "Warning: Your application is saved, but is NOT submitted yet!" })*@
                            </div>
                        }
                        else
                        {
                            <div class="action-wrapper">
                                @*<label>Application @Html.DisplayFor(modelItem => item.application.ApplicationStatus.name)</label>*@
                                <a href="@Url.Action("Details", "Application", new { id = item.application.id })" class = "action-link" title = "View My Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                                @*@Html.ActionLink("[ View My Application ]", "Details", "Application", new { id = item.application.id }, new { @class = "action-link" })*@
                            </div>
                        }
                    }
                    else
                    {
                        <div class="action-wrapper">
                            <label>Apply Now</label>
                            @if (item.program.apply_action == "default")
                            {
                                <text><a href="@Url.Action("Create", "Application", new { id = item.program.id })" class = "action-link" title="Apply Now"><img src="@Url.Content("~/Images/Action/apply.gif")" /></a></text>
                            }
                            else
                            {
                                <text><a href="@Url.Action("Details", "Program", new { id = item.program.id })" class = "action-link" title="Apply Now"><img src="@Url.Content("~/Images/Action/apply.gif")" /></a></text>
                            } 
                        </div>
                    }
                }
                else
                {
                    if (item.beforestart)
                    {
                        <div class="action-wrapper"><label>Application Begins On <br />@String.Format("{0:yyyy-MM-dd HH:mm}", item.program.application_start_time)</label></div>
                    }
                    else
                    {
                        if (item.existed && !item.saved)
                        {
                            <div class="action-wrapper">
                                @*<label>Application @Html.DisplayFor(modelItem => item.application.ApplicationStatus.name)</label>*@
                                <a href="@Url.Action("Details", "Application", new { id = item.application.id })" class = "action-link" title = "View My Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                                @*@Html.ActionLink("[ View My Application ]", "Details", "Application", new { id = item.application.id }, new { @class = "action-link" })*@
                            </div>
                        }
                        else
                        {
                            <div class="action-wrapper"><label> Closed</label></div>
                        }
                    }
                }
            }
            else
            {
                <div class="action-wrapper"><label>Not Eligible</label></div>
            }
            </td>
        </tr>
    }
    </tbody>

</table>

<div class="clear-fix"></div>



@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable({
                "aaSorting": [[3, "asc"]],
                "bPaginate": false,
                "bInfo": false,
                "oLanguage": {
                    "sSearch": "",
                    "sEmptyTable": "No current @(ViewBag.norecord)"
                }
            });

            $(".action-link").click(function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#dialog1");
            });

            $(".program-details-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#dialog1");
            });
        });
    </script>
}
