@model SchoolOfScience.Models.NominationList

@{
    string bgcolor = "";
}


<div class="showcase-title">
    <img src="~/Images/Dashboard/nomination.png" />
@if (DateTime.Now > Model.start_date && DateTime.Now < Model.end_date.AddDays(1) && (Model.Nomination.NominationStatus.nominated || Model.Nomination.NominationStatus.shortlisted))
{
    <h2>Nomination - Application List</h2>
}
else
{
    <h2>Nomination - Application List (View Only)</h2>
}
</div>


<div class="field-wrapper">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nomination.Program)
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.Nomination.Program.name, "Details", "Program", new { id = Model.Nomination.Program.id }, new { @class = "program-details-link" })
        <div class="program-note">
            <div>
            @if (!String.IsNullOrEmpty(Model.Nomination.Program.job_position))
            {
                @(Model.Nomination.Program.job_position)
            }
            </div>
            <div>
            @if (!String.IsNullOrEmpty(Model.Nomination.Program.host_name))
            {
                if (!String.IsNullOrEmpty(Model.Nomination.Program.website))
                {
                    <a href="@(Model.Nomination.Program.website)" target="_blank" title="@(Model.Nomination.Program.website)">@(Model.Nomination.Program.host_name)</a>
                }
                else
                {
                    @(Model.Nomination.Program.host_name)
                }
            }
            </div>
        </div>
    </div>
</div>
<div class="field-wrapper">
    <div class="display-label">
        Start Date
    </div>
    <div class="display-field">
        @String.Format("{0:yyyy-MM-dd (ddd)}", Model.start_date)
    </div>
</div>
<div class="field-wrapper">
    <div class="display-label">
        End Date
    </div>
    <div class="display-field">
        @String.Format("{0:yyyy-MM-dd (ddd)}", Model.end_date)
    </div>
</div>
<div class="field-wrapper">
    <div class="display-label">
        Quota
    </div>
    <div class="display-field">
        @if (Model.quota == 0)
        {
            <text> - </text>
        }
        else
        {
            @Model.quota
        }
    </div>
</div>
<div class="field-wrapper clear-left">
    <div class="display-label">
        Remarks
    </div>
    <div class="display-field">
        <pre>
            @Model.remarks
        </pre>
    </div>
</div>
        
<div class="display-label clear-left">
    My nominated applications:
</div>
    
<div class="display-field">
@if (Model.NominationApplications.Where(a => a.nominated).Count() > 0)
{
    <table class="nominated-application-table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Academic Plan
                </th>
                <th>
                    Academic Level
                </th>
                <th>
                    CGA
                </th>
                <th>
                    Attachment
                </th>
                <th>
                    Remarks
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nominated in Model.NominationApplications.Where(a => a.nominated))
            {
            <tr>
                <td>
                    @nominated.Application.id
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => nominated.Application.StudentProfile.name) @Html.ActionLink(nominated.Application.StudentProfile.id.ToString(), "Details", "StudentProfile", new { id = nominated.Application.StudentProfile.id }, new { @class = "nominated-student-link" })</strong>
                </td>
                <td>
                    @nominated.Application.StudentProfile.academic_plan_description
                </td>
                <td>
                    @nominated.Application.StudentProfile.academic_level
                </td>
                <td>
                    @if (nominated.Application.StudentProfile.StudentAdmission != null)
                    {
                        @nominated.Application.StudentProfile.StudentAdmission.Cumulative_GPA
                    }
                </td>
                <td>
                    @foreach (var attachment in nominated.Application.ApplicationAttachments)
                    {
                        <div>
                            <a href="@Url.Action("Download", "FileHandler", new { filename = attachment.filename, folder = attachment.filepath })" target="_blank">@attachment.ProgramApplicationAttachment.name</a>
                        </div>
                    }
                </td>
                <td>
                    <pre>
                        @nominated.remarks
                    </pre>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Application", new { id = nominated.Application.id })" class = "nominated-action-link action-link" title = "View Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                    @if (DateTime.Now > Model.start_date && DateTime.Now < Model.end_date.AddDays(1) && (Model.Nomination.NominationStatus.nominated || Model.Nomination.NominationStatus.shortlisted))
                    {
                        <a href="@Url.Action("CancelNominateApplication", "Nomination", new { id = nominated.id, fulldetails = ViewBag.fulldetails })" class = "nominated-cancel-link action-link" title = "Cancel Nomination"><img src="@Url.Content("~/Images/Action/delete.gif")" /></a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <text>None</text>
}
</div>

@if (Model.Nomination.NominationLists.Any(l => l.nomination_level < Model.nomination_level))
{
<div class="display-label clear-left">
    Nominated by previous level:
</div>

    if (Model.Nomination.NominationLists.Any(l => l.nomination_level < Model.nomination_level && l.NominationApplications.Count(a => a.nominated) > 0))
    {
    <div class="display-field">   
        <table class="nominated-application-table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Academic Plan
                    </th>
                    <th>
                        Academic Level
                    </th>
                    <th>
                        CGA
                    </th>
                    <th>
                        Attachment
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nominated in Model.NominationApplications.Where(na => na.Nomination.NominationLists.Any(l => l.nomination_level < Model.nomination_level && l.NominationApplications.Any(la => la.application_id == na.application_id && la.nominated))))
                {
                    if (nominated.nominated)
                    {
                        bgcolor = "background-color: #F9DCC4";
                    }
                    else
                    {
                        bgcolor = "";
                    }
                <tr style="@bgcolor">
                    <td>
                        @nominated.Application.id
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => nominated.Application.StudentProfile.name) @Html.ActionLink(nominated.Application.StudentProfile.id.ToString(), "Details", "StudentProfile", new { id = nominated.Application.StudentProfile.id }, new { @class = "nominated-student-link" })</strong>
                    </td>
                    <td>
                        @nominated.Application.StudentProfile.academic_plan_description
                    </td>
                    <td>
                        @nominated.Application.StudentProfile.academic_level
                    </td>
                    <td>
                        @if (nominated.Application.StudentProfile.StudentAdmission != null)
                        {
                            @nominated.Application.StudentProfile.StudentAdmission.Cumulative_GPA
                        }
                    </td>
                    <td>
                        @foreach (var attachment in nominated.Application.ApplicationAttachments)
                        {
                            <div>
                                <a href="@Url.Action("Download", "FileHandler", new { filename = attachment.filename, folder = attachment.filepath })" target="_blank">@attachment.ProgramApplicationAttachment.name</a>
                            </div>
                        }
                    </td>
                    <td>
                        <div>
                            Nominated by:
                        </div>
                        @foreach(var list in Model.Nomination.NominationLists.Where(l => l.nomination_level < Model.nomination_level && l.NominationApplications.Any(a => a.application_id == nominated.application_id && a.nominated)))
                        {
                            <div>@list.name [@list.UserProfile.UserName]</div>
                        }
                        @if (nominated.nominated)
                        {
                            <div><i>You have nominated this application</i></div>
                            <div>
                                <a href="@Url.Action("Details", "Application", new { id = nominated.Application.id, fulldetails = ViewBag.fulldetails })" class = "nominated-action-link action-link" title = "View Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                        
                                @if (DateTime.Now > Model.start_date && DateTime.Now < Model.end_date.AddDays(1) && (Model.Nomination.NominationStatus.nominated || Model.Nomination.NominationStatus.shortlisted))
                                {
                                    <a href="@Url.Action("CancelNominateApplication", "Nomination", new { id = nominated.id, fulldetails = ViewBag.fulldetails })" class = "nominated-cancel-link action-link" title = "Cancel Nomination"><img src="@Url.Content("~/Images/Action/delete.gif")" /></a>
                                }
                            </div>
                        }
                        else
                        {
                            <div>
                                @if (DateTime.Now > Model.start_date && DateTime.Now < Model.end_date.AddDays(1) && (Model.Nomination.NominationStatus.nominated || Model.Nomination.NominationStatus.shortlisted))
                                {
                                    <a href="@Url.Action("Details", "Application", new { id = nominated.Application.id, listid = Model.id, fulldetails = ViewBag.fulldetails })" class = "nominated-action-link action-link" title = "View/Nominate Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "Application", new { id = nominated.Application.id, fulldetails = ViewBag.fulldetails })" class = "nominated-action-link action-link" title = "View Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                                }
                            </div>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
    else
    {
    <div class="display-field">
        None
    </div>
    }
}


        
<div class="display-label clear-left">
    Applications pending for nomination:
</div>

@if (Model.NominationApplications.Count() > 0)
{
<div class="display-field">   
    <table class="nominated-application-table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Academic Plan
                </th>
                <th>
                    Academic Level
                </th>
                <th>
                    CGA
                </th>
                <th>
                    Attachment
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nominated in Model.NominationApplications)
            {

                if (nominated.nominated)
                {
                    bgcolor = "background-color: #F9DCC4";
                }
                else
                {
                    bgcolor = "";
                }
            <tr style="@bgcolor">
                <td>
                    @nominated.Application.id
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => nominated.Application.StudentProfile.name) @Html.ActionLink(nominated.Application.StudentProfile.id.ToString(), "Details", "StudentProfile", new { id = nominated.Application.StudentProfile.id }, new { @class = "nominated-student-link" })</strong>
                </td>
                <td>
                    @nominated.Application.StudentProfile.academic_plan_description
                </td>
                <td>
                    @nominated.Application.StudentProfile.academic_level
                </td>
                <td>
                    @if (nominated.Application.StudentProfile.StudentAdmission != null)
                    {
                        @nominated.Application.StudentProfile.StudentAdmission.Cumulative_GPA
                    }
                </td>
                <td>
                    @foreach (var attachment in nominated.Application.ApplicationAttachments)
                    {
                        <div>
                            <a href="@Url.Action("Download", "FileHandler", new { filename = attachment.filename, folder = attachment.filepath })" target="_blank">@attachment.ProgramApplicationAttachment.name</a>
                        </div>
                    }
                </td>
                <td>
                    @if (nominated.nominated)
                    {
                        <div><i>You have nominated this application</i></div>
                        <div>
                            <a href="@Url.Action("Details", "Application", new { id = nominated.Application.id, fulldetails = ViewBag.fulldetails })" class = "nominated-action-link action-link" title = "View Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                        
                            @if (DateTime.Now > Model.start_date && DateTime.Now < Model.end_date.AddDays(1) && (Model.Nomination.NominationStatus.nominated || Model.Nomination.NominationStatus.shortlisted))
                            {
                                <a href="@Url.Action("CancelNominateApplication", "Nomination", new { id = nominated.id, fulldetails = ViewBag.fulldetails })" class = "nominated-cancel-link action-link" title = "Cancel Nomination"><img src="@Url.Content("~/Images/Action/delete.gif")" /></a>
                            }
                        </div>
                    }
                    else
                    {
                        <div>
                            @if (DateTime.Now > Model.start_date && DateTime.Now < Model.end_date.AddDays(1) && (Model.Nomination.NominationStatus.nominated || Model.Nomination.NominationStatus.shortlisted))
                            {
                                <a href="@Url.Action("Details", "Application", new { id = nominated.Application.id, listid = Model.id, fulldetails = ViewBag.fulldetails })" class = "nominated-action-link action-link" title = "View/Nominate Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Details", "Application", new { id = nominated.Application.id, fulldetails = ViewBag.fulldetails })" class = "nominated-action-link action-link" title = "View Application"><img src="@Url.Content("~/Images/Action/view.gif")" /></a>
                            }
                        </div>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
else
{
<div class="display-field">
    None
</div>
}
    
<div class="clear-fix"></div>

@*<p>
    @Html.ActionLink("View in Full Details", "ApplicationList", new { id = Model.id, fulldetails = true })
</p>*@

<div>
    @Html.ActionLink("Back to List", "MyNomination")
</div>

@section Scripts {
    <script>
        $(function () {
            $(".nominated-application-table").dataTable({
                "sScrollX": "100%",
                "aaSorting": [[0, "asc"]],
                "bPaginate": false,
                "bInfo": false,
                "bFilter": true,
                "oLanguage": {
                    "sSearch": "",
                    "sInfo": "_TOTAL_ entries",
                    "sEmptyTable": "No matching record found"
                }
            });

            $(".program-details-link").click(function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#program-details-dialog");
            });

            $(".nominated-student-link").click(function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#student-profile-dialog");
            });

            $(".nominated-action-link").click(function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#application-dialog");
            });

            $(".nominated-cancel-link").click(function (e) {
                var r = confirm("Are you sure to cancel this nomination?");
                if (!r) {
                    e.preventDefault();
                }
            });
        });
    </script>
}
