@model SchoolOfScience.Models.Nomination

@{
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.program_id)
    @Html.Hidden("applicationids")

<fieldset>
    <legend>Nomination</legend>

    <div class="editor-label">
        Program Name
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Program.name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.status_id, "Status")
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.status_id, new SelectList(ViewBag.statusList, "id", "name"), String.Empty)
        @Html.ValidationMessageFor(model => model.status_id)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.start_date)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.start_date, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
        @Html.ValidationMessageFor(model => model.start_date)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.end_date)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.end_date, "{0:yyyy-MM-dd}", new { @class = "date-picker"})
        @Html.ValidationMessageFor(model => model.end_date)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.remarks)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.remarks, new { @class = "expanding" })
        @Html.ValidationMessageFor(model => model.remarks)
    </div>
</fieldset>

<p>
    <input type="submit" id="submit" value="Create Nomination" />
</p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $(".data-table").dataTable({
                "aaSorting": [[3, "asc"]],
                "bPaginate": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] }]
            });
        });

        $(".student-link").click(function (e) {
            e.preventDefault();
            showDialog($(this).prop("href"), "#error-dialog", "#student-profile-dialog");
        });

        $(".action-link").click(function (e) {
            e.preventDefault();
            showDialog($(this).prop("href"), "#error-dialog", "#application-dialog");
        });

        $("#checkAll").click(function () {
            $(".checkItem").prop("checked", $(this).is(":checked"));
        });

        $("input#submit").click(function (e) {
            var items = $(".checkItem:checked").map(function () { return $(this).val() }).get();
            $("#applicationids").val(items.join('_'));
        });
    </script>
}
