@model IEnumerable<SchoolOfScience.Models.Nomination>

@{
    ViewBag.Title = "Index";
    IEnumerable<SchoolOfScience.Models.Program> programs = ViewBag.programs;
}

<h2>Nomination Management</h2>

<table class="data-table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NominationStatus.name)
            </th>
            <th>
                Nomination List
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @String.Format("{0:yyyy-MM-dd (ddd)}", item.start_date)
            </td>
            <td>
                @String.Format("{0:yyyy-MM-dd (ddd)}", item.end_date)
            </td>
            <td>
                @Html.ActionLink(item.Program.name, "Details", "Program", new { id = item.program_id }, new { @class = "program-details-link" })
                <div class="program-note">
                    <div>
                    @if (!String.IsNullOrEmpty(item.Program.job_position))
                    {
                        @(item.Program.job_position)
                    }
                    </div>
                    <div>
                    @if (!String.IsNullOrEmpty(item.Program.host_name))
                    {
                        if (!String.IsNullOrEmpty(item.Program.website))
                        {
                            <a href="@(item.Program.website)" target="_blank" title="@(item.Program.website)">@(item.Program.host_name)</a>
                        }
                        else
                        {
                            @(item.Program.host_name)
                        }
                    }
                    </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominationStatus.name)
            </td>
            <td>
                @foreach (var list in item.NominationLists)
                {
                    <div>@list.UserProfile.UserName (Level: @list.nomination_level, Quota: 
                        @if (list.quota == 0)
                        {
                            @("-")
                        }
                        else
                        {
                            @list.quota
                        }
                        )
                    </div>
                }
            </td>
            <td>
                <ul class="action-list">
                    <li>
                        @Html.ActionLink("Manage", "Details", new { id = item.id })
                    </li>
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="clear-fix"></div>

<p></p>

@if (ViewBag.programs != null)
{
<hr />

<h2>Programs Pending for Nomination</h2>

<table class="data-table">
    <thead>
        <tr>
            <th>Program ID</th>
            <th>Program Name</th>
            <th>
                Eligible Criteria
            </th>
            <th>Submitted Applications</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var program in programs)
    {
        <tr>
            <td>@program.id</td>
            <td>
                @Html.ActionLink(program.name, "Details", "Program", new { id = program.id }, new { @class = "program-details-link" })
                <div class="program-note">
                    <div>
                    @if (!String.IsNullOrEmpty(program.job_position))
                    {
                        @(program.job_position)
                    }
                    </div>
                    <div>
                    @if (!String.IsNullOrEmpty(program.host_name))
                    {
                        if (!String.IsNullOrEmpty(program.website))
                        {
                            <a href="@(program.website)" target="_blank" title="@(program.website)">@(program.host_name)</a>
                        }
                        else
                        {
                            @(program.host_name)
                        }
                    }
                    </div>
                </div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => program.eligible_academic_career)</div>
                <div>@Html.DisplayFor(modelItem => program.eligible_academic_organization)</div>
                <div>@Html.DisplayFor(modelItem => program.eligible_academic_plan)</div>
                <div>@Html.DisplayFor(modelItem => program.eligible_program_status)</div>
                <div>@Html.DisplayFor(modelItem => program.eligible_academic_level)</div>
            </td>
            <td>@program.Applications.Where(a => a.ApplicationStatus.submitted && !a.ApplicationStatus.rejected).Count()</td>
            <td>@program.ProgramStatus.name</td>
            <td>
                <ul class="action-list">
                    <li>
                        @Html.ActionLink("Create", "Create", "Nomination", new { programid = program.id }, null)
                    </li>
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>
}

@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable({
                "sScrollX": "100%",
                "aaSorting": [[0, "asc"]],
                "bPaginate": false,
                "bInfo": false,
                "bFilter": true,
                "oLanguage": {
                    "sSearch": "",
                    "sInfo": "_TOTAL_ entries",
                    "sEmptyTable": "No matching record found"
                }
            });

            $(".program-details-link").click( function (e) {
                e.preventDefault();
                showDialog($(this).prop("href"), "#error-dialog", "#program-details-dialog");
            });
        });
    </script>
}
