@model IEnumerable<SchoolOfScience.Models.UserProfile>

<h2>User Role Management</h2>

<p>
    @Html.ActionLink("Create New User", "Register", "Account")
</p>
<table class="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach (var role in item.UserRoles)
                {
                    @role.RoleName <br />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                @Html.ActionLink("Details", "Details", new { id=item.UserId })
            </td>
        </tr>
    }
    </tbody>

</table>

@section Scripts {
    <script>
        $(function () {
            $(".data-table").dataTable({
            });
        });
    </script>
}