@model SchoolOfScience.Models.StudentActivity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>StudentActivity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentProfile.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentProfile.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.start_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.end_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.end_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.data_source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.data_source)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remarks)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
