@model SchoolOfScience.Models.ApplicationStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ApplicationStatus</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.editable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.editable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.submitted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.submitted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rejected)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rejected)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.default_status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.default_status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
